/* Define global colours */
:root {
    /* https://coolors.co/palette/335c67-fff3b0-e09f3e-9e2a2b-540b0e */
    --light-tone: #e09f3e;
    --dark-tone: #335c67;
    --mid-dark-tone: hsl(193, 34%, 40%);
    --primary-tone: #540B0E;
    --accent-tone: #FFF3B0;

    --display-font: 'Georgia', serif;
    --main-font: 'Arial', sans-serif;

    --inline-padding: 20px;
}

body {
    margin: 0;
    font-family: var(--main-font);
    background-color: var(--dark-tone);
}

h1, h2 {
    font-family: var(--display-font);
}

h1 {
    font-size: 30px;
    margin: 15px 0;
    color: var(--accent-tone);
}

/* Header */
header {
    background-color: var(--primary-tone);
    color: var(--light-tone);
    padding: 0 var(--inline-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 50px;
    font-family: var(--display-font);
    font-weight: normal;
    margin: 0;
}

header nav {
    /* Placement */
    width: 35vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    /* Text */
    font-family: var(--main-font);
    text-decoration: none;
    color: var(--light-tone);
    font-size: 30px;
    transition: color 0.2s ease-in-out;
}

header nav a:hover {
    color: var(--accent-tone);
}

.active-page {
    color: var(--accent-tone);
}

/* Articles list */

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Article element */

article {
    background-color: var(--mid-dark-tone);
    padding: 15px;
    margin: 15px;
    display: inline-block;
    border-radius: 15px;
    width: 700px;
}

article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

article h1 {
    /* color: var(--dark-tone); */
}